{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}


{% block body %}
    <div class="wrapper">
        {% if app.user %}
            <h1>Bienvenue {{ app.user.firstname }}</h1>
        {% else %}
            <h1>Bienvenue</h1>
            <h1>Bienvenue</h1>
        {% endif %}

    </div>
{% endblock %}
