@import url('https://fonts.googleapis.com/css2?family=Lusitana:wght@400;700&display=swap');

body {
    background-color: #939393;
    margin: 0;
    padding: 0;
    font-family: "Lusitana", serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 15px 30px 15px 30px;
    height: 80px;
}

header nav {
    height: 100%;
}

header nav ul {
    display: flex;
    height: 80px;
    align-items: center;
    background-color: white;
    list-style: none;
    gap: 15px;
    margin: 0;
}

header nav ul li a {
    color: black;
    text-decoration: none;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 20px;
    margin-top: auto;
    font-size: 14px;
}