@import url('https://fonts.googleapis.com/css2?family=Lusitana:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --blue: #444CF7;
    --dark-black: #141218;
    --purple: #8600ff;
}

.btn:focus {
    box-shadow: none !important;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: #e6e6e6;
    margin: 0;
    padding: 0;
    position: relative;
    height: 100vh;
    /* background-image: url('/assets/media/png/bg.png');
    background-size: cover;
    background-repeat: repeat;
    background-position: center center; */
    background-color: #e5e5f7;
    opacity: 0.8;
    background-image: radial-gradient(#444cf7 0.5px, #e5e5f7 0.5px);
    background-size: 10px 10px;
}

h2 {
    font-weight: 600;
    color: var(--blue);
}


/*********************************************/
/******************** HEADER *****************/
/*********************************************/

header {
    font-family: "Lusitana", serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 20px 30px 20px 30px;
    height: 80px;
    border-radius: 0 0 20px 20px;
}

.user-data {
    display: flex;
    flex-direction: column;
    color: var(--dark-black);
}

.class-data {
    margin-top: 10px;
}

.class-data p {
    font-weight: 900;
    margin: 0;
}

.user-info {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.user-info h1 {
    margin: 0;
    margin-left: 10px;
}


header nav img {
    margin-right: 8px;
}

header nav ul {
    display: flex;
    height: 80px;
    align-items: center;
    background-color: white;
    color: var(--dark-black);
    list-style: none;
    gap: 15px;
    margin: 0;
}

header nav ul li a {
    color: var(--dark-black);
    text-decoration: none;
    border: solid 1px #959595;
    padding: 10px 12px 5px 12px;
    border-radius: 8px;
}

header nav ul li a:hover {
    border: solid 1px var(--dark-black);
}

header nav ul li a:active {
    border: solid 1px var(--dark-black);
}

.wrapper {
    margin: 0 40px 0 40px;
}


/*********************************************/
/************* FORM LOGIN/REGISTER ***********/
/*********************************************/

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Lusitana", serif;
}

.form-input {
    display: flex;
    flex-direction: column;
    width: 250px;
}

.form-input input {
    margin-top: 10px;
    font-family: "Lusitana", serif;
    font-size: 15px;
    padding: 7px;
}

.form-input button {
    font-family: "Lusitana", serif;
    font-size: 15px;
    margin-top: 20px;
    color: var(--dark-black);
    text-decoration: none;
    border: solid 1px #959595;
    padding: 10px 12px 10px 12px;
    border-radius: 8px;
    width: 250px;
}

.form-input button:hover {
    border: solid 1px var(--dark-black);
}

.form-row {
    width: 230px;
}

/*********************************************/
/***************** DASHBOARD *****************/
/*********************************************/

.dashboard {
    margin: 50px 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
}

/*********************************************/
/*************** GRADES SECTION **************/
/*********************************************/

.grades-section, .courses-section, .calendar-section {
    background-color: white;
    border: transparent solid 1px;
    border-radius: 20px;
    padding: 10px 25px 30px 25px;
    box-shadow: 5px 5px 4px 1px #868686;
}

.grade-data, .course-data {
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 0.5px solid transparent;
    padding: 10px 15px 10px 15px;
}

.grade-data:hover, .course-data:hover {
    border: 0.5px solid #686868;
    padding: 10px 15px 10px 15px;
    border-radius: 10px;
}

#course-name {
    font-weight: 400;
}


/*********************************************/
/************** COURSES SECTION **************/
/*********************************************/

.course-data a {
    color: var(--dark-black);
    font-size: 13px;
}

/*********************************************/
/******************* FOOTER ******************/
/*********************************************/

footer {
    font-family: "Lusitana", serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--blue);
    color: white;
    padding: 5px;
    margin-top: auto;
    font-size: 14px;
    width: 100%;
    bottom: 0;
}

/*********************************************/
/******************* MODAL *******************/
/*********************************************/

.modal{
    display: none;
    position: fixed;
    z-index: 1050;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    position: fixed;
    background: #F6E0FE;
    /* center the modal on the screen */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px 50px;
    background-color: white;
    z-index: 1050;
    outline: 0;
    width: 400px;
    border: 5px solid var(--purple);
    border-radius: 20px;
  }