@import url('https://fonts.googleapis.com/css2?family=Lusitana:wght@400;700&display=swap');

:root {
    --blue: #0062FF;
    --dark-black: #141218;
}

body {
    background-color: #D9D9D9;
    margin: 0;
    padding: 0;
    font-family: "Lusitana", serif;
    position: relative;
    height: 100vh;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 20px 50px 20px 50px;
    height: 80px;
    border-radius: 0 0 20px 20px;
}

.user-data {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: var(--dark-black);
}

.user-data p {
    margin-left: 20px;
}

header nav {
    height: 100%;
}

header nav img {
    margin-right: 8px;
}

header nav ul {
    display: flex;
    height: 80px;
    align-items: center;
    background-color: white;
    color: var(--dark-black);
    list-style: none;
    gap: 15px;
    margin: 0;
}

header nav ul li a {
    color: var(--dark-black);
    text-decoration: none;
    border: solid 1px #959595;
    padding: 10px 12px 5px 12px;
    border-radius: 8px;
}

header nav ul li a:hover {
    border: solid 1px var(--dark-black);
}

header nav ul li a:active {
    border: solid 1px var(--dark-black);
}

.wrapper {
    margin: 0 40px 0 40px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--blue);
    color: white;
    padding: 10px;
    margin-top: auto;
    font-size: 14px;
    width: 100%;
    position: absolute;
    bottom: 0;
    border: solid transparent;
    border-radius: 20px 20px 0 0;
}