{% extends 'base.html.twig' %}

{% block title %}Create new Post{% endblock %}

{% block body %}
    <form method="post" action="{{ path('post_new') }}" enctype="multipart/form-data">
        <label for="text">Message:</label>
        <textarea id="text" name="text"></textarea>

        <label for="image_name">Image Name:</label>
        <input type="text" id="image_name" name="image_name">

        <label for="image_path">Image File:</label>
        <input type="file" id="image_path" name="image_path">

        <button type="submit">Create Post</button>
    </form>

    {% if errors is defined %}
        <div>
            <ul>
                {% for error in errors %}
                    <li>{{ error.message }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
{% endblock %}
